<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRjl_wO1s_6g-M0qJYrhXTlCCxdgMhH1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>541209302880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emartApp</string>
	<key>PROJECT_ID</key>
	<string>emart-1c0ec</string>
	<key>STORAGE_BUCKET</key>
	<string>emart-1c0ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541209302880:ios:74b8ab6631f4990b44f005</string>
</dict>
</plist>